<div id="<%= dom_id musician %>" class="musician">


  <img src="/uploads/<%= musician.image %>" />
  <h3>
    <%= musician.name %>
  </h3>


  <p>
    <strong>Date of birth:</strong>
    <%= musician.dateofbirth %>
  </p>

</div>
