<div  class="card" id="<%= dom_id musicalinstrument %>">
  <img src="/uploads/<%=musicalinstrument.image%>" class="card-img-top" alt="<%=musicalinstrument.name%>">
    <div class="card-body">
      <h5 class="card-title"><%=musicalinstrument.name%></h5>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>

</div>
