<h1>Editing musicalinstrument</h1>

<%= render "form", musicalinstrument: @musicalinstrument %>

<br>

<div>
  <%= link_to "Show this musicalinstrument", @musicalinstrument %> |
  <%= link_to "Back to musicalinstruments", musicalinstruments_path %>
</div>
